[Unit]
Description=Backup automático local
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=systemd-inhibit --what=sleep --who="Backup Automático" --why="Copia de seguridad en progreso" /home/administrador/proyectos/sh/backups-automaticos/src/backup_master.sh
Environment=DISPLAY=:0.0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus

[Install]
WantedBy=graphical-session.target
